{% extends "template.html" %}
{% block html_body %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border rounded" style="background-color: #F1F1F1;">
                    <div class="card-body">
                        <h3 class="text-dark" align="center">Goals</h3>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-cloud fa-2x" style="color: white;"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-dark">Help adults and college students become financially indepent!</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-cloud fa-2x" style="color: white;"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-dark">Teach individuals and families about the stock market and how to invest!</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-cloud fa-2x" style="color: white;"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-dark">Teach people about real estate and the concept of passive investments!</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-cloud fa-2x" style="color: white;"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-dark">Help families and individuals organize their monthly financial statements and lower their expenses!</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-cloud fa-2x" style="color: white;"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-dark">Allow members of the site to communicate with one another
                                    and discuss investment and business opportunities.
                                </span>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card border rounded" style="background-color: #F1F1F1;">
                    <div class="card-body">
                        <p class="text-dark" align="center">FAQ</p>
                        <div class="p-4">
                            <p class="text-dark">Q: Will you be handling my money and finances for me?</p>
                        </div>
                        <div class="p-4">
                            <p class="text-dark">A: No, Olmstead Enterprises will only give financial advice in
                                order to point you in the
                                right direction. No employee of Olmstead Enterprises will ever ask you for any form
                                of investment or bank information. All fees and subscriptions will be charged upfront.
                            </p>
                        </div>
                        <div class="p-4">
                            <p class="text-dark">Q: Do I have to sign up in order to access the Investor Forum to read
                                and post comments with other users?
                            </p>
                        </div>
                        <div class="p-4">
                            <p class="text-dark">
                                A:  Yes, by signing up, each user acknowledges they are at least 18 years of age and
                                a user must have an account in order to write and/or read posts on the community forum.
                                This ensures all users in the community forum are over the age of 18.
                            </p>
                        </div>
                        <div class="p-4">
                            <p class="text-dark">
                                Q:  Do I have to pay for any products in order to participate in the community forum?
                            </p>
                        </div>
                        <div class="p-4">
                            <p class="text-dark">
                                A:  No, the community forum is open to all users who have signed up and have an account with our site.
                                We do not charge a subscription for the community forum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>

{% endblock %}
<!-- Footer -->

