{% extends "template.html" %}
{% block html_body %}
    <h1 align="center">About</h1>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <!-- FAQ Card -->
                <div class="card bg bg-primary card-form">
                    <div class="card-body">
                        <h3 class="text-light" align="center">FAQ</h3>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-question fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">Where do you obtain the content for each book?</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-comment text-light fa-2x"></i>
                            </div>
                            <div class="p-4 align self-start">
                                <span class="text-light">Each individual word of each novel is obtained through Project Gutenberg and Goodreads.  All of the novels currently on the site are on the public domain and
                                outside of copyright infringement.  All of the files contain original code and Fandom Nerds did not copy and use any files from Project Gutenberg or Goodreads.</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-question fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">What is the public domain?</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-comment fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">The public domain consists of novels that have been published for 70 years or more and, therefore, are outside of copyright law.  Any one can use the words and text of
                                each public domain novel so long as the individual or corporation is not copying the code and files of where they obtained a novel on the public domain.</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-question fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">Do I have to sign up to access authors and/or the ebooks on this site?</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-comment fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">No, you do not need to sign up and create an account with Fandom Nerds in order to read the public domain ebooks on this site.
                                However, Fandom Nerds does encourage you to sign up to receive updates on when new novels are available on this site as well as any updates or new features to the site itself.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Purpose and Goals Card -->
                <div class="card bg-primary card-form">
                    <div class="card-body">
                        <h3 class="text-light" align="center">Purpose and Goals</h3>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check text-light fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">To provide an easier and more pleasurable experience reading ebooks on the public domain!</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">Eventually obtain copyrights to current novels and authors outside of the public domain!</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">Create a public Forum and Community of current and future writers to be able to write and read fan fiction from their favorite authors!</span>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <!-- Terms and Conditions Card -->
                <div class="card bg bg-primary card-form">
                    <div class="card-body">
                        <h3 class="text-light" align="center">Terms and Conditions</h3>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">All of the books on the public domain are available to everyone, however, the files belong to FandomNerds.  Any attempt to copy,
                                distribute, or use the files on this site for commercial purposes without the written consent of Fandom Nerds will be in violation of copyright law.  You may use the words associated with each public domain
                                e-book, you may not use the file with which the e-book is on.
                                </span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">
                                    Please treat all users on this site with respect and dignity.  Please refrain from using any profanity towards any authors, novels, written works,
                                    fan fiction posts, etc.  The Fan Fiction Forum is to be used for reading and writing fan fiction as well as allow users to discuss their favorite novels, authors,
                                    books, and fandoms.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Privacy Policy Card -->
                <div class="card bg bg-primary card-form">
                    <div class="card-body">
                        <h3 class="text-light" align="center">Privacy Policy</h3>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">
                                    All of your sign up information is stored on a secure server with MySQL Database.
                                </span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">None of your data or sign up information is being sold to private entities for profit.</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">
                                    Email notifications will always be from Fandom Nerds and are for any promotional content directly related to Fandom Nerds and the Fandom Nerds
                                    website as well as any new e-books and content uploaded to the site.
                                </span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check fa-2x text-light"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <span class="text-light">All passwords are encrypted upon sign up and stored under an encryption algoirthm in the database to ensure secure account information and secure login.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

    </div>
    <br><br><br>
    <!-- Footer -->
    <footer class="text-light" style="bottom: 0; position: fixed; width: 100%; height: 10%; background-color: #01579b;">
        <div class="container" align="center">
            <p class="text-light">FandomNerds.com</p>
        </div>
    </footer>
{% endblock html_body %}