{#<!-- Privacy Policy Card -->#}
{#                <div class="card bg bg-primary card-form">#}
{#                    <div class="card-body">#}
{#                        <h3 class="text-light" align="center">Privacy Policy</h3>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light">#}
{#                                    All of your sign up information is stored on a secure server.#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light">None of your data or sign up information is being sold to private entities for profit.</span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light">#}
{#                                    Email notifications will always be from an Olmstead Enterprises email address and are for any promotional content directly related to Olmstead Enterprises and the Olmstead Enterprises#}
{#                                    website as well as any new content uploaded to the site.#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light">All passwords are encrypted upon sign up and stored under an encryption algoirthm in the database to ensure secure account information and secure login.#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}