{#<div class="col-lg-3">#}
{#                <div class="card bg-primary card-form">#}
{#                    <div class="card-body">#}
{#                        <h3 class="text-light" align="center">Purpose and Goals</h3>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check text-light fa-2x"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-4">#}
{#                <div class="card bg bg-primary card-form">#}
{#                    <div class="card-body">#}
{#                        <h3 class="text-light" align="center">Terms and Conditions</h3>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light">#}
{#                                    Each user must be aat least 18 years of age to sign up and schedule financial meetings with the#}
{#                                    Olmstead Enterprises team.  Olmstead Enterprises is not responsible or liable for any financial decisions#}
{#                                    you make based on any information from this site or elsewhere.  Olmstead Enterprises does not and#}
{#                                    will not handle your money or bank accounts in any way. This platform is strictly for the purpose#}
{#                                    of learning and teaching others financial literacy.  Olmstead Enterprises will not ask you to make an investment#}
{#                                    on our behalf, all investments outlined by Olmstead Enterprises on this site were made by Olmstead Enterprises.#}
{#                                    All subscriptions will be billed on a monthly basis and if you wish to cancel a sbscription then you must do so#}
{#                                    before the 1st of each month.#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex">#}
{#                            <div class="p-4 align-self-start">#}
{#                                <i class="fa fa-check fa-2x text-light"></i>#}
{#                            </div>#}
{#                            <div class="p-4 align-self-end">#}
{#                                <span class="text-light">#}
{#                                    In the community forum, please treat all other users with the proper respect and please refrain from using and/or#}
{#                                    posting an language that may be deemed as vulgar and/or offensive.  The forum is for individuals and investors to discuss#}
{#                                    various investing techniques and strategies.  Olmstead Enterprises is not liable nor responsible for any financial decisions#}
{#                                    obtained or made in the community forum.#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <br>#}
{#            </div>#}